language: node_js

node_js:
  - 8
  - 9
  - 10
  - 11
  - 12

before_install: npm i -g npm@latest

install:
  - npm install -g codecov
script:
  - istanbul cover ./node_modules/mocha/bin/_mocha --reporter lcovonly -- -R spec
  - codecov
  - npm test

cache:
  npm: false